/*.container {
    margin-top: 78px;
    height: 500px;
    width: 220px;
    margin-left: 60px;
  }
*/
 
 .container {}
 border: 1px solid #4CAF50;
}

figure {
    display: inline-block;
    border: 1px dotted gray;
    margin: 20px; /* adjust as needed */
}
 img {
    vertical-align: top;
}
figcaption {
    border: 1px dotted blue;
    text-align: center;
}